{% load static %}

<!DOCTYPE html>
<html>
<head> 
    <link rel="stylesheet" href="{% static 'css/report.css' %}">
</head>
<body>
<form method="post">
    {% csrf_token %}
    <p> نوع الفساد</p>
    {{ form.corruption_type }}

    <p>نوع القطاع المسؤول </p>
    {{ form.public_sector_type }}

    <p> اسم المؤسسة</p>
    {{ form.public_sector_name }}

    <p> تاريخ الحدث </p>
    {{ form.date_of_incident }}

    <p> المدينة </p>
    {{ form.city }}

    <p> الشارع </p>
    {{ form.street }}

    {{form.captcha}}

    <button type="submit">Submit</button>
</form>
</body>
</html>

<script>
    document.addEventListener('DOMContentLoaded', function() {
      var sectorTypeSelect = document.getElementById('public_sector_type_id');
      var sectorNameSelect = document.getElementById('public_sector_name_id');
    
      sectorTypeSelect.addEventListener('change', function() {
        var sectorTypeId = this.value;
        var url = '/ajax/load_sector_names/?sector_type=' + sectorTypeId;
    
        fetch(url)
          .then(response => response.json())
          .then(data => {
            sectorNameSelect.innerHTML = '';
            data.forEach(function(item) {
              var option = new Option(item[1], item[0]);
              sectorNameSelect.add(option);
            });
          })
          .catch(error => console.error('Error loading sector names:', error));
      });
    });
    </script>
    